.footer{
     background: #3b5998;
     width:100%;
     height:85px;


}
body{
    margin: 0;
    font-family: Helvetica Neue,  Helvetica,Arial,  sans-serif;
}
.logo{
    width:50%;
    padding-top: 32px;
    float: left
}
.login{
    width:50%;
    float: left;
    padding-top: 10px
}
.logo-text{
    color: #ffff;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    font-family: Helvetica Neue,  Helvetica,Arial,  sans-serif;
    margin-left: 173px;
}
.login-label{
    color: #ffff;
    font-size: 11px;
    
}
.login-controls{
    margin-left: 115px;
}
.forgotten-label{
    color: #9cb4d8;
    font-size: 11px;
    text-decoration: none;
}
.submit-btn{
    background: #4267b2;
    color:#ffff;
    border-color:#29487d;
    height:20px;
    cursor:pointer
}
.submit-btn:hover{
    background: cornflowerblue;
}
.left-section{
    width:50%;
    float:left;
    padding-left:134px;
    padding-top: 27px;
}
.right-section{
    width:38%;
    float:left;
    padding-top: 10px;
}
.main-body{
    background: linear-gradient(white,#D3D8E8);
    width:100%;
    height:540px

}
.image{
    width:581px;
}
.para{
    font-weight: bold;
    font-size: 21px;
}
.heading{
    font-weight: bold;
    font-size: 30px;
}
.para2{
    font-weight:bold;
    font-size: 16px;
    margin-top: -9px;
}
.textstyle{
    height:28px;
    width:177px;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 3px;
    border: 2px solid lightgrey;
    outline: none;
    
}
.textstyle2{
    height:28px;
    width:370px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 10px;
    border: 2px solid lightgrey;
    outline: none;
    
    
}
.no-outline{
    outline:none;
}
.label-text{
    color:grey;
    font-weight:bold;
    font-size: 14px;
}
.select{
    margin-top: 5px;
    margin-right:-2px;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 2px solid lightgrey;
    height:25px;
    font-size: 13px;
    width:fit-content;
}

.gender{
    font-weight: bold;
    font-size: 16px;

}
.paratext{
    color:grey;
    font-size: 12px;
    font-weight:bold;
}
.policy{
    font-weight: bold;
    color: #4267b2;
    text-decoration: none;
}
.submitbtn{

    width: 185px;
    height: 40px;
    border-radius: 7px;
    margin-top:-10px;
    border-color:transparent;
    background: linear-gradient(rgb(38, 101, 31),rgb(62, 158, 51));
    color:#ffff;
    font-weight: bold;
    font-size: medium;

}
.paratext1{
    color:black;
    font-size: 13px;
    font-weight:bold;
    margin-top:35px;
}
.bottom{
    background: linear-gradient(white,#D3D8E8);
    width:100%;
    height:100px

}
